<div class="services">
  <h3 class="heading-agileinfo">About Us<span>The purpose of information and a variety of new ones </span></h3>
  <div class="container">
    <div class="row services-top-grids">
      <div class="col-md-12">
        <div class="grid1">
          
         
          <h6>The purpose of information and a variety of new ones. 
            To keep the student updated all-time For information on different types of exams ... </h6>
        </div>
      </div>
    </div>

  </div>
</div>
<app-service></app-service>